#status {
    position: relative;
    span {
        position: absolute;
        border-radius: 999px;
        &:nth-child(1) {
            border: 5px solid #dcf836;
            border-top: 5px solid transparent;
            top: calc(50% - 35px);
            left: calc(50% - 35px);
            width: 70px;
            height: 70px;
            animation: loaderYellow 2s infinite linear;
        }
        &:nth-child(2) {
            border: 5px solid #dd003f;
            border-top: 5px solid transparent;
            top: calc(50% - 15px);
            left: calc(50% - 15px);
            width: 30px;
            height: 30px;
            animation: loaderRed 1s infinite linear;
        }
    }
}

@keyframes loaderYellow {
    0% {
        transform: rotate(360deg);
        opacity: 1;
    }
    50% {
        transform: rotate(180deg);
        opacity: 0.75;
    }
    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes loaderRed {
    0% {
        transform: rotate(0deg);
        opacity: 0.75;
    }
    50% {
        transform: rotate(180deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0.75;
    }
}
