#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #020d18;
    /* change if the mask should have another color then white */
    z-index: 99999;
    text-align: center;
    /* makes sure it stays on top */
    img {
        margin-top: 100px;
        margin-bottom: 250px;
    }
}

@media (max-width: 767px) {
    #preloader img {
        margin-bottom: 50px;
    }
}
